@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Secular+One&family=Source+Serif+Pro&family=Zilla+Slab&display=swap');

:root{
    --primary-color:white;
    --secondary-color: #06b6d4;
}

body{
    margin: 0;
    width: auto;
    block-size: fit-content;
    font-family: 'Source Serif Pro', serif;
  background-color: var(--primary-color);
}

.navigation{
    background-color: var(--secondary-color);
    padding: 1rem;
    display: block;
}

.header{
    color: var(--primary-color);
    font-size: xx-large;
    font-weight: bold;
    padding-top: 1rem;
}

.inline{
    display: inline;
}

.nav{
    text-decoration: none;
   
color:var(--primary-color);
padding-left: 1rem ;
}

.non-bullet{
    text-align: right;
}
.container{
   text-align: center;
   padding: 2rem;
}

.explain{
    padding: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--secondary-color);
    font-size: larger;
    text-shadow: none;
}

.angle{
    text-align: center;
    padding: 2rem;
    font-size: xx-large;
    font-weight: bold;
}

.angle-input{
    text-align: center;
    padding: 1rem 3rem;
    border: solid var(--secondary-color);
    font-size: x-large;
    font-size: bold;
}

.btn-check{
    padding: 0.5rem 1.5rem;
    border: solid var(--secondary-color);
    color: var(--secondary-color);
    background-color: var(--primary-color);
    font-weight: bold;
    border-radius: 1rem;
 cursor: pointer;
}


.final-message{
    padding: 1rem;
    
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: var(--secondary-color);
    

}

.icon{
    margin-left: 0;
    max-width: 30px;
    max-height: 30px;
    padding-top: 2rem;
    padding-right: 4rem;
}

.footer{
    margin: 0;
    background-color: var(--secondary-color);
    padding-bottom: 1rem;
    border-bottom-left-radius: 2rem;
    text-align: center;
}
.message{
    display: none;
}

.bold-text{
    font-weight: bolder;
}

.content{
    max-width: 600px;
    margin:auto;
    margin-top: 0rem;
}

.question{
    margin: auto;
    font-weight: bold;
    font-size: large;
}

#output{
    padding: 4rem;
  text-align: center;
  color: var(--secondary-color);
  font-weight: bolder;
  font-size: x-large;
}